# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Build
dist/
/npm-debug.log

# Game Assets
src/assets/tank-platformer
src/assets/tds-war
src/assets/pong/sfx